body {
  background: blanchedalmond;
}

h1 {
  text-align: center;
}
.pages {
  text-align: center;
}
.home {
  margin: 20px;
  color: green;
}
.photo {
  margin: 20px;
  color: green;
}
.contact {
  color: green;
}
img {
  width: 80%;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}
.more-info {
  text-align: center;
}
